input,
textarea {
    border: solid transparent 1px;
}

.error input,
.error textarea {
    border: solid red 1px;
}

.error div
{
    color: red;
}

.form-error {
    border: 1px solid red;
    padding: 5px;
    width: fit-content;
}